.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace
*.vsix

dev

test_src/kst
test_src/ksy

tests_primitive/test_out
tests_primitive/compiled
tests_mixed/test_out
tests_mixed/compiled
tests_struct/test_out
tests_struct/compiled
tests_union/test_out
tests_union/compiled

example/compiled
example/test_out

*.swp
*.backup
